---
layout: page
title: Current Listings
layout: page
permalink: /
---
<section id="global-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h3 style="text-align:center">Homes That Are Currently Listed By Peggy</h3>
				</div>
			</div>
		</div>
	</div>
</section>

{% assign listedHomes = site.homes | where: "category", "listed" | sort: 'date' %}

{% if listedHomes.size == 0 %} 
	<h3> Unfortunately there are no homes currently listed </h3>
	<p style="text-align: center;">
		If you think this is an error, please 
		<a href="{{ site.baseURL }}/contact">contact Peggy</a>.
	</p>
{% else %}
	<post-listing>
	{% for item in listedHomes reversed %}
		<hr class="thin red">
		<div class="block">
			{% include tile.html %}
		</div>
	{% endfor %}
	</post-listing>
{% endif %}
