---
layout: page
title: Previous Listings
layout: page
permalink: /sold_properties/
---
<section id="global-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h3 style="text-align:center">Homes That Were Previously Sold By Peggy</h3>
				</div>
			</div>
		</div>
	</div>
</section>

{% assign soldHomes = site.homes | where: "category", "sold" | sort: 'date' %}

<post-listing>
{% for item in soldHomes reversed %}
	<hr class="thin red">
	<div class="block">
		{% include tile.html %}
	</div>
{% endfor %}
</post-listing>
