---
layout: page
title: Contact Peggy
permalink: /contact/
---
<div class="block" style="height:60vh">
	<section id="intro">
		<div class="container row col-md-12">
			<h3 style="text-align:center">Telephone Number: (970)-261-9326</h3>
		</div>
		<div class="container row col-md-12">
			<h3 style="text-align:center">
				Email <a href="mailto:peggyzagrealtor@gmail.com?subject=[Inquiry]" target="_blank">peggyzagrealtor@gmail.com</a>
			</h3>
			<p style="text-align:center">(Popup windows may be blocked in your browser which will prevent this link from working).</p>
		</div>
	</section>
</div>
