<!-- footer Start -->
<footer>
	<div class="container">
		<div class="row">
			<div style="position:absolute; padding-left:10px; padding-right:10px;">
				<img src="{{ site.baseurl }}/files/img/REALTOR_logo_Large.jpg" alt="Logo" style="height:70px; margin-top:-10px; margin-left">
			</div>
			<div class="col-md-12">
				<p>Peggy Zagrzebski, Traditions Real Estate LLC:  
				<a href="mailto:peggyzagrealtor@gmail.com?subject=In regards to{{ page.title }}" target="_blank">peggyzagrealtor@gmail.com</a>
				</p>
				<p>This page and all contents belong to Peggy Zagrzebski
			</div>
		</div>
	</div>
</footer>
