<section id="gallery">
	<div class="container">
		<div id="gallery-slider" class="owl-carousel" style="margin-bottom:30px">
			{% for image in site.static_files %}
				{% if image.path contains include.folder %}
				<center>
					<img src="{{ site.baseurl }}{{ image.path }}" alt="image" style="height:550px; overflow:hidden;" />
					<br>
					<a href="{{ site.baseurl }}{{ image.path }}" class="see-more-btn btn btn-info btn-lg" style="background-color: #740523; border-color:black; margin-top:15px">Image Link <i class="fa fa-angle-right"></i></a>
				</center>
				{% endif %}
			{% endfor %}
		</div>
	</div>	
</section>

