<!-- Header Start -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- header Nav Start -->
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header" >
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="{{ site.baseurl }}/">
								<img src="{{ site.baseurl }}/files/img/Traditions_LLC_logo.png" alt="Logo" style="height:70px; margin-top:-10px">
							</a>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="{{ site.baseurl }}/">Current Listings</a></li>
								<li><a href="{{ site.baseurl }}/sold_properties">Sold Properties</a></li>
								<li><a href="{{ site.baseurl }}/contact">Contact Peggy</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</div>
		</div>
	</div>
	<br>
	<hr class="thick red">
	<h1 align="center"> {{ page.title}} </h1>
	<br>
	<hr class="medium red">
</header><!-- header close -->
