<div class="tile">
	<div class="gradient-lighter" style="height: 550px; overflow: hidden;">
		<img style="z-index:-1; width: 100%;" src="{{item.folder_location}}/{{item.featured_image}}">
	</div>
	<div style="position:absolute;width:100%;top:10%;left:5%;">
		<h2>{{ item.title }}</h2>
			{% if item.categories != empty %}
			<center>
				{% for tag in item.tags %}
					<span>{{ tag }}</span>
				{% endfor %}
			</center>
			{% endif %}
		<div class="excerpt">
			<center>
				<br>
				<div style="width:60%">{{ item.excerpt }}</div>
			</center>
		</div>
		<br>
	</div>
	<a href="{{ item.url | prepend: site.baseurl }}" class="see-more-btn btn btn-info btn-lg" style="background-color: #740523; border-color:black;">More about this home <i class="fa fa-angle-right"></i></a>
</div>
