<!DOCTYPE html>
<html>
	<div id="wrapper">
		<head>

			{% include head.html %}

		</head>
		<body style="min-height:100%;">
			<div>

				{% include header.html %}


				{{ content }}

			</div>

			{% include footer.html %}

		</body>
	</div>
</html>
